@import "variables.css";

.balloons {
  width: 80vw;
  height: 80vh;
  max-width: 800px;
  position: absolute;
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.balloon-animate .circle {
  transform: scale(1);
  transform-origin: center;
}

.circle {
  background-color: var(--black);
  border-radius: 100%;
  color: var(--white);
  height: 20vw;
  width: 20vw;
  transform: scale(0.75);
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  position: absolute;
  margin: 0 auto;
}

.circle {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 500ms linear;
}

.circle > p,
.circle h5 {
  opacity: 1;
  color: var(--white);
}

#art-direction {
  transform: translateX(-40%);
}

#code {
  //
  transform: translateX(40%);
}

#photography {
  transform: translateY(-75%);
}

@media only screen and (max-width: 600px) {
  .balloons {
    padding-top: 15vh;
  }
  .circle {
    height: 35vw;
    width: 35vw;
  }
}
