@import "variables.scss";

/* nav after scroll classes */

#nav.sticky {
  position: fixed;
  top: 0;
  height: 80px;
  overflow: hidden;
  width: 80%;
  padding-left: 16%;
  padding-right: 19%;
  transition: background-color 100ms linear;
  animation-delay: 0;
  background-color: transparent;
}

#background-square.sticky-background {
  animation: none;
}

.clear {
  opacity: 0;
}

.sticky .name-circle:first-child {
  animation: changeColorToGrey 1ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}
.sticky .name-circle:last-child {
  animation: changeColorToGrey 1ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}

.sticky > .arrow-box > .contact-circle {
  animation-delay: 0003ms;
}

#nav.light {
  background-color: var(--white);
}

#nav.dark {
  background-color: var(--light-gray);
}

.animation-2.name-circle:first-child,
.animation-2.name-circle:last-child {
  animation: changeToGray 1ms;
  opacity: 1;
  animation-delay: 0ms;
  color: var(--dark-gray);
}

.animation-2.contact-circle {
  animation-delay: 500ms;
}
