@import "variables.css";
@font-face {
  font-family: "AvenirNext_Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/AvenirNextLTPro-Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "AvenirNext_Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/AvenirNextLTPro-Demi.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/AvenirNextLTPro-Demi.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../assets/fonts/AvenirNextLTPro-Demi.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

body {
  margin: 0;
  width: 100vw;
  line-height: 2rem;
  background-color: var(--dark-gray);
  font-size: 16px;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

p {
  font-family: "Adobe Garamond Pro", "Times New Roman", serif;
  font-style: italic;
  font-size: 0.9em;
  letter-spacing: 0.5px;
  /* color: var(--dark-gray); */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "AvenirNext_Regular", "helvetica", sans-serif;
  font-weight: normal;
  color: var(--dark-gray);
}

h5 {
  font-size: 1em;
}

a {
  text-decoration: none;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: "AvenirNext_Bold", "helvetica", sans-serif;
  color: var(--dar-gray);
  font-weight: bold;
}

a:hover,
a:active {
  color: var(--orange);
}

ul {
  text-decoration: none;
  padding-left: 0;
}

.div-section-intro a {
  font-size: 1em;
  letter-spacing: 0.2em;
}

a.link-small {
  letter-spacing: 0.2em;
  color: var(--light-gray);
  font-size: 0.4em;
}

.caps {
  text-transform: uppercase;
}

.bold {
  font-family: "AvenirNext_Bold", "helvetica", sans-serif;
  letter-spacing: 0.1rem;
}
