@import "variables.css";

.section-four {
  /* align-items: flex-start; */
}

.balloons {
  min-height: 50vh;
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  /* -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box; */
  margin: 0 auto;
}

.balloon-animate .circle {
  transform: scale(1);
  transform-origin: center;
}

.circle {
  background-color: var(--black);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  position: absolute;
  transform: scale(0.75);
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 40px;
  overflow: hidden;
}

.circle {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 500ms linear;
}

.balloon-heading {
  margin-top: 50px;
}
.circle p {
  opacity: 1;
}

#art-direction {
  top: 35%;
  right: 15%;
  opacity: 0.2;
  height: 200px;
  width: 200px;
}

#photoshoot-production {
  top: 18%;
  right: 2%;
  opacity: 0.25;
  height: 150px;
  width: 150px;
}

#code {
  top: 25%;
  right: 85%;
  opacity: 0.9;
  height: 75px;
  width: 75px;
  background-color: var(--orange);
}

#retouching {
  top: 0%;
  right: 25%;
  opacity: 0.2;
  height: 120px;
  width: 120px;
}

#photography {
  top: 35%;
  right: 45%;
  opacity: 0.5;
  height: 330px;
  width: 330px;
}

#ux {
  top: 60%;
  right: 2%;
  opacity: 0.3;
  height: 55px;
  width: 55px;
}

@media only screen and (max-width: 600px) {
  #photography {
    right: 20%;
  }

  #photoshoot-production {
    right: -20%;
  }

  .circle {
    padding: 20px;
  }

  #ux {
    right: -15%;
  }

  #code {
    right: 70%;
    top: 15%;
  }
  .balloon-heading {
    margin-top: 35px;
    margin-bottom: 10px;
  }
}
