@import "variables.css";

.section.div-section-intro {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-weight: 100;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  justify-content: start;
  align-items: center;
  background-color: var(--dark-gray);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  min-height: 80px;
  background: transparent;
  margin: 0 auto;
}

.div-section-intro p {
  font-size: 0.5rem;
  letter-spacing: 0.2rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.div-section-intro h1 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.background-square {
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  animation: drawer 1s ease-in-out;
  animation-delay: 1s;
  overflow: hidden;
  z-index: 1;
  position: absolute;
}

.name-and-arrow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0;
  position: relative;
  background-color: transparent;
  width: 100vh;
  max-width: 800px;
}

.name-div {
  display: flex;
  justify-content: start;
}

.name-circle {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  color: var(--light-gray);
  justify-content: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  opacity: 0;
}

/* for consecutive intro animations */
.name-circle__consecutive_animate {
  animation: changeColorToLight 001ms;
  animation-delay: 4s;
}

/* animation: grow 1s, fade 500ms, changeColorToGrey 500ms;
animation-timing-function: linear, linear;
animation-delay: 2s, 1500ms, 2500ms; */

.name-circle:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.name-circle:first-child {
  animation: changeColorToGrey 500ms;
  animation-delay: 3000ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.name-circle:last-child {
  animation: grow 0s, fade 500ms, changeColorToGrey 500ms;
  animation-timing-function: linear, linear;
  animation-delay: 2s, 2500ms, 3500ms;
  animation-fill-mode: forwards;
}

h1.name {
  display: inline;
  z-index: 1;
  color: inherit;
}

.arrow-box {
  z-index: 1;
  /* display: flex; */
  display: block;
  padding-bottom: 0%;
  /* align-items: center; */
  position: relative;
}

.arrow {
  animation: visable 2500ms infinite;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 150px;
}

.point {
  height: 50px;
  width: 50px;
  border-left: 1px solid var(--mid-gray);
  border-bottom: 1px solid var(--mid-gray);
  transform: rotate(-45deg);
  margin: 0 auto;
}

.contact-circle {
  z-index: 1;
  background-color: var(--orange);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  opacity: 0;
  animation: visable 1ms;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  /* margin: 0 auto; */
  margin-top: 25px;
  margin-bottom: 150px;
  position: absolute;
  right: 0;
  z-index: 2;
}

/* Animation */

@keyframes changeColorToLight {
  0% {
    color: var(--dark-gray);
  }

  100% {
    color: var(--light-gray);
  }
}

@keyframes visable {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    height: 0px;
    width: 0px;
    opacity: 0;
    color: var(--light-gray);
  }
  100% {
    height: 100px;
    width: 100px;
    opacity: 1;
    background-color: var(--dark-gray);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes drawer {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes changeColorToGrey {
  0% {
    height: 100px;
    width: 100px;
    color: var(--light-gray);
    opacity: 0;
    background-color: transparent;
    color: var(--light-gray);
  }

  100% {
    height: 100px;
    width: 100px;
    color: var(--dark-gray);
    opacity: 1;
    background-color: transparent;
  }
}

@media only screen and (min-width: 600px) {
  .name-and-arrow {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
}

@media only screen and (max-width: 600px) {
  .sticky {
    grid-template-columns: 1px 1fr;
    position: unset;
    animation: none;
    padding: 0;
    justify-content: center;
  }

  .sticky .contact-circle {
    animation: none;
    opacity: 1;
    position: unset;
  }

  .sticky .arrow-box {
    padding-left: 0;
  }

  .arrow-box {
    position: relative;
    margin: 0 auto;
    padding-left: 50px;
  }

  .name-div {
    display: flex;
    justify-content: center;
  }
  .name-and-arrow {
    margin: 0 auto;
  }
}
